{% extends './index.html' %}

{% block content %}
  <div class="cards">
    {% include './locationname.html' with title="Gorakhpur"%}
    {% include './locationname.html' with title="Deoria"%}
    {% include './locationname.html' with title="Rajpur"%}
    {% include './locationname.html' with title="LeoNagar"%}
    {% include './locationname.html' with title="DevNagar"%}
    {% include './locationname.html' with title="Chapra"%}
    {% include './locationname.html' with title="Balia"%}
    {% include './locationname.html' with title="VaitalPur"%}
  </div>
{% endblock content %}
