*{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
}

.child{
    width: 500px;
    height: 400px;
    position: relative;
    padding: 20px;
    background-color: antiquewhite;
    overflow: hidden;
}
form{
    width: 100%;
}
input{
    width: 100%;
}
.row{
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
    gap: 20px;
    position: absolute;
    
}

.login{
    top:50px;
    left: 0;
}

.signup{
    top:50px;
    left: 100%;
}



